.env
.env.test

node_modules/

artifacts/
deployments/
cache/

dist/

tmp/
temp/

Private

*.bin
*.abi

.encryptedKey.json
gas-report.txt

coverage
coverage.json
typechain
typechain-types

slither-results.json